h1, h2 {
    font-family: Verdana, sans-serif;
    text-align: center;
    font-size: 60px;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    margin: 0;
    border-radius: 20px black;
    padding: 20px;
  }
  h3 {
      color: #FFFDD0;
      font-family: Verdana, sans-serif;
      text-align: center;
      font-size: 60px;
  }
  .cream {
      font-size: 30px;
      color: #FFFDD0;
  }
  .grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
      gap: 40px;
      margin-top: 30px;
  }
  .card {
      background: #A0522D ;
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0,0,0,0,0.15);
      text-align: center;
      padding: 20px;
      transition: transform 0.3s ease, box-shadow 0.3 ease;
      max-width: 350px;
      margin: auto;
  }
  .card:hover {
      background: #8B4513;
      transform: scale(1.05);
      transition: transform 0.3s ease, box-shadow 0.3 ease;
      box-shadow: 0 8px 16px rgba(0,0,0,0,0.15)
  }
  img {
      width: 100%;
      height: auto;
      max-width: 300px;
      border-radius: 10px;
  }